project_name = "neurolibre"
image = "Ubuntu-24.04-Noble-x64-2024-05"
cc_private_network = ""
public_network = ""
flavor = "c4-15gb-83
ssh_user = ""
existing_keypair_name = ""
existing_secgroup_name = "neurolibre-secgroup"
server_domain = "conp.cloud"
traefik_subdomain = "traefik-new"
docker_subdomain = "registry-new"
cloudflare_api_token = ""
cloudflare_zone_id = ""
registry_local_volume = ""
host_src_path = ""
docker_registry_user = ""
docker_registry_password = ""